p {
    font-size: 20px;
}

ul {
    text-align: justify;
}

body {
    background-color: #2b3026;
    text-align: center;
}

.image {
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%; 
    align-content: center;
}

.titulo {
    color: #2b3026;
}

#perfil {
    background-color: #89977d;
    width: 300px;
    margin: 0px auto;
    padding: 20px;
    border-radius: 10px;
}